
@import "src/scss/global/colors";
@import "src/scss/global/transitions";

@mixin nav-bar--generic {

  ul.nav-unordered-list {
    margin-top: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  li.link-item__landing-page {
    display: inline-block;
    padding: 1rem;

    > a {
      color: $gray-10;
      border: 1px solid transparent;
      padding: 0.6rem;
      border-radius: 8px;
      text-decoration: none;

      &:hover {
        border: 1px solid $gray-10;
        transition: $transition-nav-link;
      }

      &active {
        background-color: $gray-10;
        color: $white;

      }

    }

  }

  .link-item__main-page {
    display: inline-block;
    padding: 1rem;

    > a {
      color: $white;
      padding: 0.6rem;
      text-decoration: none;

      &:hover {
        color: $gray-60;
      }

    }
  }

}

.list-item--main {
  margin-top: 1rem;
}

.list-item--main > a {
  font-size: 3rem;
}

.list-item--main > a:hover {
  margin-left: 1rem;
  transition: all .1s ease-in-out;
}

.list-item--page > a:hover {
  margin-left: 1rem;
  transition: all .1s ease-in-out;
}