@import "src/scss/global/colors";
@import "src/scss/global/transitions";

.recipe-thumbnail {
  border-radius: 8px;
}

.recipe-thumbnail__container {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 20rem;
}

.recipe-thumbnail__container {
  background-color: $orange-70;
  border: 2px solid $orange-main;
  border-radius: 8px 8px 0 0 ;
  padding: 2rem;

  &:hover {
    opacity: 0.1;
    transition: $transition-go-back;
  }
}

.recipe-thumbnail__button-section {
  height: 4rem;
  border-radius: 0 0 8px 8px;
  background-color: $orange-main;

  .recipe-thumbnail--button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0 0 8px 8px;
    background-color: $orange-main;
    cursor: pointer;
    font-size: 2rem;
    text-transform: uppercase;
    color: $white;
    font-weight: 800;
  }
}