@import "/src/scss/components/buttons";
@import "/src/scss/global/page-sections";
@import "src/scss/global/media";

.hero {
  margin: 4rem 0;
  background-color: rgba(255, 250, 250, 0.6);
  border-radius: 8px;

  .hero--title-section {
    padding: 2rem;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hero--title-section > h1 {
    font-size: 5rem;
  }

  .hero--title-section > h2 {
    font-size: 3rem;
  }

  .hero--title-section > span {
    font-size: 2.5rem;
  }

  .hero--title-section > h1 {
    margin: 2rem 0;
  }

  .cta-button {
    margin: 2rem;
  }

}