
body {
  max-width: 1400px;
  min-height: 100%;
  background-image: linear-gradient(to left top, #f8f3eb, #f9f6ef, #fbf9f3, #fdfcf8, #fffffc);
  background-repeat: no-repeat;
  background-attachment: fixed;
}