
// Colors
$text-color: #242325;
$gray-10: #474448;
$gray-20: #605C61;
$gray-30: #7A747B;
$gray-40: #938E94;
$gray-50: #ACA8AD;
$gray-60: #C5C3C6;
$white: #FFFFFC;

$orange-main: #FF9D1A;
$orange-10: #4D2C00;
$orange-20: #804900;
$orange-30: #B26600;
$orange-40: #E58300;
$orange-50: #FF9D1A;
$orange-60: #FFB34D;
$orange-70: #FFC980;
$orange-80: #FFDEB2;
$orange-90: #FFF4E5;


$blue: #81A2D4;
$blue-light: #CDDAEE;
$blue-dark: #3D6BB3;

p, span, h1 {
  color: $text-color;
}

h2, h3, h4 {
  color: $gray-10;
}